<div class="container">
    <div class="title main-h1">Request a loan</div>
    <div class="row">
      <form class="form-table" (submit)="onSubmit($event, amount, duration, firstpayment, interestrate, metadata)">
              <li>
                  <mat-form-field>
                      <input type="number" name="loan_amount" placeholder="RCN to request" ngModel matInput #amount>
                    </mat-form-field>
              </li>
              <li>
                  <mat-form-field>
                      <input type="number" name="duration" placeholder="Duration in days" ngModel matInput #duration>
                  </mat-form-field>
              </li>
              <li>
                  <mat-form-field>
                      <input type="number" name="first_payment" placeholder="First payment day" ngModel matInput #firstpayment>
                  </mat-form-field>
              </li>
              <li>
                  <mat-form-field>
                      <input type="number" name="intrest_rate" placeholder="Annual interest rate" ngModel matInput #interestrate>
                  </mat-form-field>
              </li>
              <li>
                    <mat-form-field>
                        <input type="string" name="metadata" placeholder="Description of the request" ngModel matInput #metadata>
                    </mat-form-field>
                </li>
              <li>
                <a (click)="openCollateralSelector()">{{ selectedCollateral.length !== 0 ? verboseSelectedCollateral() : 'Add collateral' }}</a>
              </li>
        <div class="col-xs-12">
          <div class="margintop10"></div>
        </div>
        <div class="col-xs-12">
          <div class="margintop10"></div>
          <button type="submit" mat-raised-button class="button button-primary" ngModel>{{ pending === undefined ? 'Request' : 'Requesting...' }}</button>
        </div>
      </form>
    </div>
</div>